#roundButton{
    height:50px;
    width: 75px;
    background-color: #262626;
    border-radius: 50%;
    margin-top: 10px;
    font-weight: lighter;
    position: relative;
    transition: ease-in-out .2s;

    
}

#roundButton::before{
    content: '';
}

#roundButton:hover{
 background: linear-gradient(to right, #660e01,#fe3514,#ffe104); 
/* background: linear-gradient(#e66465, #9198e5);
 */
}

#chevronSymbol{
    transition: ease-in-out .2s;
    font-weight: lighter;
    
    }
    
    #chevronSymbolRotated{
    rotate: -90deg;
    transition: ease-in-out .2s;
    
    }