#cardVideoCover:hover{
    opacity: 0;

}

#cardVideoCover{
    transition: .2s ease-in-out;

}

#cardVideo{
    opacity: 0;
    
    
}

#cardVideo:hover{
    transition: .2s ease-in-out;
    opacity: 1;
}